 .u-section-1 {
  background-image: url("images/pexels-photo-5269680.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-group-1 {
  width: 453px;
  min-height: 620px;
  height: auto;
  margin: 0 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 400;
  margin: 126px auto 0 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 20px 20px 0 30px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 63px 10px 0 auto;
  padding: 10px 60px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.3126em;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 0px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 400;
  background-image: none;
  margin: -58px auto 0 10px;
  padding: 7px 52px 9px 51px;
}

.u-section-1 .u-icon-2 {
  margin-right: 12px;
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 85.86% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 30px;
    padding-right: 20px;
    padding-left: 19px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -57px;
    margin-left: 30px;
    padding-right: 11px;
    padding-left: 11px;
  }
}